.image{
    height: 600px;
    background-image: url('../../img/neko2 (2).png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 950px;
    resize: horizontal;
}
.image0{
  background-image: url('../../img/nekobom0.png');
}

.image1{
  background-image: url('../../img/nekobom1.png');
}

.image2{
  background-image: url('../../img/nekobom2.png');
}

.image3{
  background-image: url('../../img/nekobom3.png');
}

.todos{
  background-color:rgba(255, 255, 255, 0.8);
}

.posts{
  margin-top: 15vh;
}

.imagefix{
  margin: 0;
}
